<go-back name="新增用户" url="app/user/account" #goBack></go-back>
<left-right>
    <div name="left">
        <title-info text="备注信息"></title-info>
        <p class="p-t">新用户登录的默认密码：
            <span class="text-success font-bold text-base">111111</span>
        </p>
    </div>
    <div name="right" class="mt-3 mt-lg-0">
        <wrap-form>
            <form class="px-3 p-t-lg" #editForm="ngForm" novalidate>
                <div class="row mx-0 m-b-md">
                    <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.username">
                        <span class="text-danger">*</span>用户名:</label>
                    <div class="col-xs-9 col-sm-8 px-0">
                        <input class="form-control rounded-0 text-sm" type="text" name="form.username" id="form.username" [(ngModel)]="form.username"
                            (keyup)="form.username=$event.target.value" required>
                    </div>
                </div>
                <div class="row mx-0 m-b-md">
                    <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.name">
                        <span class="text-danger">*</span>姓名:</label>
                    <div class="col-xs-9 col-sm-8 px-0">
                        <input class="form-control rounded-0 text-sm" type="text" name="form.name" id="form.name" [(ngModel)]="form.name" validateZhname
                            #theinputname="ngModel" (keyup)="form.name=$event.target.value" required>
                        <p class="m-t-xs m-b-n text-muted" *ngIf="theinputname.invalid && theinputname.dirty">4~30位字符，只能包含中文、大小写英文字母、点·</p>
                    </div>
                </div>
                <div class="row mx-0 m-b-md">
                    <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                        <span class="text-danger">*</span>角色权限:</label>
                    <div class="col-xs-9 col-sm-8 px-0">
                        <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.role" [(ngModel)]="form.role" required>
                            <option value="">---请选择---</option>
                            <option *ngFor="let option of selectList['role_loadAll']" [value]="option.id">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mx-0 m-b-md">
                    <div class="col-xs-9 col-sm-8 col-xs-push-3 col-sm-push-4 px-0 border-top p-t-md b-t-dashed">
                        <button type="button" class="btn btn-info rounded-0 p-l-md p-r-md m-r" (click)="submit()" [disabled]="editForm.invalid || queryStatus">
                            <span class="float-left">新增</span>
                            <bttton-loading class="float-left" [queryStatus]="queryStatus"></bttton-loading>
                        </button>
                        <button type="button" class="btn btn-outline-secondary rounded-0 p-l-md p-r-md" (click)="goBack.back();">取消</button>
                    </div>
                </div>
            </form>
        </wrap-form>
    </div>
</left-right>
