<div class="layout">
    <div class="lay-content">
        <p class="text-center text-lg m-t">惠多多后台管理登录</p>
        <form class="p-t" #editForm="ngForm">
            <input type="password" name="password" style="display:none">
            <div class="form-group p-b-sm">
                <div class="input-group">
                    <span class="input-group-addon icon-loginuser text-lg text-muted"></span>
                    <input class="form-control rounded-0" type="text" name="username" [(ngModel)]="form.username" (keyup)="form.username=$event.target.value"
                        placeholder="用户名" required>
                </div>
            </div>
            <div class="form-group p-b-sm">
                <div class="input-group">
                    <span class="input-group-addon icon-loginpsd text-lg text-muted"></span>
                    <input class="form-control rounded-0" type="password" name="password" autocomplete="off" [(ngModel)]="form.password" (keyup)="form.password=$event.target.value"
                        placeholder="密码" required>
                </div>
            </div>
            <div class="form-group p-b-sm">
                <div style="padding-right:170px; position: relative;">
                    <div class="input-group">
                        <span class="input-group-addon icon-logincode text-lg text-muted"></span>
                        <input class="form-control rounded-0" type="text" name="captcha" [(ngModel)]="form.captcha" (ngModelChange)="captchaChange(form.captcha)"
                            (keyup)="form.captcha=$event.target.value" placeholder="验证码" required>
                    </div>
                    <img class="getVCode" src="{{codeSrc}}" (click)="getVCode()">
                    <span class="getVText text-info" (click)="getVCode()">换一张</span>
                </div>
            </div>
            <div class="form-group p-b-sm">
                <button type="submit" class="btn btn-info btn-lg w-100 text-center rounded-0" (click)="submit()" [disabled]="!editForm.valid || queryStatus || !verifyCodeFlag">
                    <span>登录</span>
                    <bttton-loading [queryStatus]="queryStatus"></bttton-loading>
                </button>
            </div>
            <div class="form-group form-group-lg">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="i-checks i-checks-sm">
                            <input type="checkbox" name="loginCache" [(ngModel)]="loginCache">
                            <i></i>记住用户名</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-confirm></app-confirm>
<app-alert></app-alert>
