<div class="layout no-select">
    <ul class="navigation">
        <li *ngFor="let itema of items; let a = index;" [ngClass]="{at:a===nav.a}">
            <a [routerLink]="itema.url?[itema.url]:null" (click)="changeCollapsed('pro'+a)">
                <span class="icon icon-{{itema.icon}}"></span>
                {{itema.name}}
                <span class="img" *ngIf="items[a]['children']['length']>0">
                    <img src="../../assets/svg/plus.svg" width="12" [ngClass]="{hide:collapsed['pro'+a]}">
                    <img src="../../assets/svg/minus.svg" width="12" [ngClass]="{hide:!collapsed['pro'+a]}">
                </span>
            </a>
            <ul class="nav-sub" [@slideInOut]="!collapsed['pro'+a]" [slideInOutToggle]="collapsed['pro'+a]" [toggleEvent]="toggleEvent">
                <li *ngFor="let itemb of items[a]['children']; let b = index;">
                    <a [routerLink]="itemb.url?[itemb.url]:null" (click)="changeCollapsed('pro'+a+b)" [ngClass]="{at:a===nav.a&&b===nav.b&&nav.c===-1}">
                            <span class="text">{{itemb.name}}</span>
                            <span class="img" *ngIf="items[a]['children'][b]['children']['length']>0">
                                <img src="../../assets/svg/plus-sub.svg" width="9" [ngClass]="{hide:collapsed['pro'+a+b]}" >
                                <img src="../../assets/svg/minus-sub.svg" width="9" [ngClass]="{hide:!collapsed['pro'+a+b]}">
                            </span>
                    </a>
                    <ul class="nav-sub-child" [@slideInOut]="!collapsed['pro'+a+b]" [slideInOutToggle]="collapsed['pro'+a+b]" [toggleEvent]="toggleEvent">
                        <li *ngFor="let itemc of items[a]['children'][b]['children']; let c = index">
                            <a [ngClass]="{at:a===nav.a&&b===nav.b&&c===nav.c}" [routerLink]="itemc.url?[itemc.url]:null"><span class="text">{{itemc.name}}</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <aside-control></aside-control>
</div>
