<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">商终列表</h4>
            <button type="button" class="close pull-right" (click)="hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid p-b-sm m-b-lg b-b b-b-dashed">
                <form class="search-form" #searchForm="ngForm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 form-group m-l-none">
                            <label class="control-label" for="form.merchantNo">商户号:</label>
                            <input type="text" class="form-control" id="form.merchantNo" name="form.merchantNo" [(ngModel)]="form.merchantNo" (keyup)="form.merchantNo=$event.target.value"
                                [pattern]="regex.merchantNo">
                        </div>
                        <div class="col-sm-6 col-md-4 form-group m-l-none" *ngIf="transmit['type']==='222'">
                            <label class="control-label" for="form.terminalNo">终端号:</label>
                            <input type="text" class="form-control" id="form.terminalNo" name="form.terminalNo" [(ngModel)]="form.terminalNo" (keyup)="form.terminalNo=$event.target.value">
                        </div>
                        <div class="col-sm-6 col-md-4 form-group m-l-none">
                            <button class="btn btn-info btn-sm p-l p-r m-r-sm" (click)="search($event)" type="submit" [disabled]="!searchForm.valid">查询</button>
                            <button class="btn btn-default btn-sm p-l p-r" (click)="reset()">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive table-wrap">
                <table class="table nowrap table-striped table-hover">
                    <tbody>
                        <tr>
                            <th *ngFor="let th of table.storage;">{{th.text}}</th>
                        </tr>
                        <tr *ngFor="let item of items; let index = index;">
                            <td *ngFor="let td of table.storage;">{{item[td.key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-pagination [paginationData]="paginationData" #appPagination></app-pagination>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-sm p-l p-r" (click)="hide()">关闭</button>
        </div>
    </div>
</div>
