<div class="container-fluid border b-color-base m-t-lg pt-3">
    <form class="search-form" #searchForm="ngForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label class="control-label" for="form.key1">手机号:</label>
                <input type="text" class="form-control rounded-0 text-sm" id="form.key1" name="form.key1" [pattern]="regex.cellphone" [(ngModel)]="form.key1"
                    (keyup)="form.key1=$event.target.value">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label class="control-label" for="form.key2">昵称:</label>
                <input type="text" class="form-control rounded-0 text-sm" id="form.key2" name="form.key2" [(ngModel)]="form.key2" (keyup)="form.key2=$event.target.value">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label class="control-label">性别:</label>
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key3" [(ngModel)]="form.key3">
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key3']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label class="control-label">常住地:</label>
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key4" [(ngModel)]="form.key4">
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key4']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label class="control-label" for="form.key3">生日:</label>
                <input class="form-control rounded-0 text-sm bg-white" #drp="bsDatepicker" bsDatepicker id="form.key6" name="form.key6" [(ngModel)]="form.key5"
                    [bsConfig]="{locale:'zh-cn', containerClass:'theme-dark-blue', dateInputFormat:'MM/DD/Y'}" readonly>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label class="control-label" for="form.key3">注册起止时间:</label>
                <input class="form-control rounded-0 text-sm bg-white" #drp="bsDaterangepicker" bsDaterangepicker id="form.key5" name="form.key5"
                    [(ngModel)]="form.key5" [bsConfig]="{locale:'zh-cn', containerClass:'theme-dark-blue', dateInputFormat:'MM/DD/Y'}"
                    readonly>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group no-select">
                <button class="btn btn-info btn-sm p-l p-r m-r-sm rounded-0" (click)="search($event)" type="submit" [disabled]="!searchForm.valid || queryStatus">
                    <span class="float-left">查询</span>
                    <bttton-loading class="float-left" [queryStatus]="queryStatus"></bttton-loading>
                </button>
                <button class="btn btn-outline-secondary btn-sm rounded-0 p-l p-r" (click)="reset()">重置</button>
            </div>
        </div>
    </form>
</div>
<div class="m-t m-b">
    <button type="button" class="btn btn-outline-info btn-sm rounded-0" (click)="unforbiddenItem()">新增用户</button>
</div>
<div class="m-t">
    <table class="table table-hover mb-0">
        <tbody>
            <tr>
                <th>序号</th>
                <th *ngFor="let th of table.th;">{{th.text}}</th>
                <th>操作</th>
            </tr>
            <tr *ngFor="let item of items; let index = index;">
                <td class="py-2 align-middle" width="6%">{{index+1}}</td>
                <td class="py-2 align-middle break-all" *ngFor="let td of table.th;" [width]="td.width" domEllipsis [tooltip]="item[td.key]"
                    [isDisabled]="tip['isDisabled' + index + td.key]" container="body" [tip]='tip' [proName]="'isDisabled' + index + td.key">{{item[td.key]}}</td>
                <td class="py-2">
                    <button type="button" class="btn btn-outline-success btn-sm rounded-0 p-l-sm p-r-sm m-r-sm" (click)="unforbiddenItem(item)">解禁</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 p-l-sm p-r-sm m-r-sm" (click)="forbiddenItem(item)">禁言</button>
                    <button type="button" class="btn btn-outline-success btn-sm rounded-0 p-l-sm p-r-sm m-r-sm" (click)="openItem(item)">解封</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 p-l-sm p-r-sm m-r-sm" (click)="closeItem(item)">封号</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 p-l-sm p-r-sm m-r-sm" (click)="editItem(item)">编辑</button>
                    <button type="button" class="btn btn-outline-warning btn-sm rounded-0 p-l-sm p-r-sm" (click)="delItem(item)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-pagination #appPagination [paginationData]="paginationData" [queryStatus]="queryStatus"></app-pagination>
