<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">发布公告</h4>
            <button type="button" class="close pull-right" (click)="hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form #editForm="ngForm">
                    <div class="row">
                        <label class="control-label col-sm-2 text-right p-t-xs" for="form.noticeName"><span class="text-danger p-r-xs">*</span>标题：</label>
                        <div class="col-xs-10 form-group p-l-none p-r-none">
                            <input class="form-control" type="text" id="form.noticeName" name="form.noticeName" [(ngModel)]="form.noticeName" #title="ngModel"
                                (keyup)="form.noticeName=$event.target.value" required>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <label class="control-label col-sm-2 text-right p-t"><span class="text-danger p-r-xs">*</span>正文：</label>
                    <div class="col-xs-10 form-group p-l-none p-r-none b-t p-t">
                        <ueditor [(ngModel)]="full_source" [config]="fullConfig" [loadingTip]="'加载中……'" #full></ueditor>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-sm-2 text-right p-t">附件：</label>
                    <div class="col-xs-10 form-group p-l-none p-r-none b-t">
                        <table class="table b table-striped m-b-none">
                            <tr>
                                <th style="width:30%;">文件名</th>
                                <th style="width:20%;">文件大小</th>
                                <th style="width:30%;">上传进度</th>
                                <th>操作</th>
                            </tr>
                            <tr *ngFor="let item of attachmentEntityList; let index = index;">
                                <td>{{item.fileName}}</td>
                                <td>{{item.fileSize}}</td>
                                <td>
                                    <div class="progress m-b-xs" style="height:10px;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                            style="width:100%;">
                                        </div>
                                    </div>
                                    <p class="text-center m-b-none">100%</p>
                                </td>
                                <td><button class="btn btn-default btn-sm" (click)="deleteFile(index)">删除</button></td>
                            </tr>
                            <tr *ngFor="let item of uploader['queue']; let index = index;">
                                <td>{{item.file.name}}</td>
                                <td>{{(item.file.size / 1024) | number:'1.0-2'}}kb</td>
                                <td>
                                    <div class="progress m-b-xs" style="height:10px;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                            [ngStyle]="{width: item.progress+'%'}">
                                        </div>
                                    </div>
                                    <p class="text-center m-b-none">{{item.progress | number:'1.0-0'}}%</p>
                                </td>
                                <td><button class="btn btn-default btn-sm" (click)="delFile(item, index)">删除</button></td>
                            </tr>
                        </table>
                        <div class="inline overflow-hidden pos-rlt m-b m-t-sm">
                            <button class="btn btn-addon btn-default btn-sm" type="button"><i class="glyphicon glyphicon-plus"></i>上传附件</button>
                            <input class="transparent" style="position:absolute; top:0%; left:0; right:0%; bottom:0; width:100%;" type="file" #inputuploader
                                ng2FileSelect [uploader]="uploader" multiple>
                        </div>
                        <p class="text-muted text-sm">5个以内任意格式文件，单个文件最大10M</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info btn-sm p-l p-r" (click)="submit()">{{editFlag? '确定修改' : '发布'}}</button>
            <button class="btn btn-default btn-sm p-l p-r" (click)="hide()">关闭</button>
        </div>
    </div>
</div>
