<go-back name="新增银行卡" url="app/preferential/card-manage" #goBack></go-back>
<wrap-form width="500px">
    <form class="px-3 p-t-lg" #editForm="ngForm" novalidate>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key1">
                <span class="text-danger">*</span>银行卡名称:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key1" id="form.key1" [(ngModel)]="form.key1" (keyup)="form.key1=$event.target.value"
                    required>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>归属银行:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key2" [(ngModel)]="form.key2">
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key2']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>卡类型:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key3" [(ngModel)]="form.key3">
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key3']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key4">
                <span class="text-danger">*</span>权益:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key4" id="form.key4" [(ngModel)]="form.key4" (keyup)="form.key4=$event.target.value"
                    required>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key5">
                <span class="text-danger">*</span>积分:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key5" id="form.key5" [pattern]="regex.number" [(ngModel)]="form.key5"
                    (keyup)="form.key5=$event.target.value" required>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key6">
                <span class="text-danger">*</span>资料:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key6" id="form.key6" [(ngModel)]="form.key6" (keyup)="form.key6=$event.target.value"
                    required>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key6">
                <span class="text-danger">*</span>申卡链接:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key6" id="form.key6" [pattern]="regex.url" [(ngModel)]="form.key6"
                    (keyup)="form.key6=$event.target.value" required>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key2">
                <span class="text-danger">*</span>logo:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <upload-img #uploadImg queueLimit="1" [multiselection]="false" note="请添加1张银行 logo，文件格式png\jpg！，文件大小不超过300KB"></upload-img>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <div class="col-xs-9 col-sm-8 col-xs-push-3 col-sm-push-4 px-0 border-top p-t-md b-t-dashed">
                <button type="button" class="btn btn-info rounded-0 p-l-md p-r-md m-r" (click)="submit()" [disabled]="editForm.invalid || queryStatus">
                    <span class="float-left">新增</span>
                    <bttton-loading class="float-left" [queryStatus]="queryStatus"></bttton-loading>
                </button>
                <button type="button" class="btn btn-outline-secondary rounded-0 p-l-md p-r-md" (click)="goBack.back();">取消</button>
            </div>
        </div>
    </form>
</wrap-form>
