<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">结算调账明细</h4>
            <button type="button" class="close pull-right" (click)="hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid m-b m-t-n-sm">
                <div class="row">
                    <div class="col-xs-6 no-padder">
                    </div>
                    <div class="col-xs-6 no-padder text-right">
                        <div class="btn-group tabel-control">
                            <button class="btn btn-default" (click)="tableCustomStart()"><span class="icon-menuoption text-base"></span></button>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle><span class="icon-download text-md"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
                                    <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/transferAccount/exportExcel?'+tableSearch"
                                            target="_blank">xlsx 格式</a></li>
                                    <li class="divider dropdown-divider"></li>
                                    <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/transferAccount/exportTxt?'+tableSearch"
                                            target="_blank">txt 格式</a></li>
                                    <li class="divider dropdown-divider"></li>
                                    <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/transferAccount/exportPdf?'+tableSearch"
                                            target="_blank">PDF 格式</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-wrap">
                <table class="table nowrap table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>序号</th>
                            <th *ngFor="let th of table.storage;">{{th.text}}</th>
                        </tr>
                        <tr *ngFor="let item of items; let index = index;">
                            <td>{{index+1}}</td>
                            <td *ngFor="let td of table.storage;">{{item[td.key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="p-t-sm m-b-n-sm" [ngClass]="{hide: (items?.length <= 0)}"><span class="text-warning font-bold">汇总：</span>笔数 <span class="text-warning font-bold">{{phCount.count}}</span>、调账金额
                <span class="text-warning font-bold">{{phCount.transferAccountAmount}}</span> 元</div>
            <app-pagination [paginationData]="paginationData" #appPagination></app-pagination>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-sm p-l p-r" (click)="hide()">关闭</button>
        </div>
    </div>
</div>
<app-modal #appModalCustom>
    <table-custom class="modal-sample" #tableCustom [appModal]="appModalCustom" [transmit]="table" (onListen)="tableDone($event)"></table-custom>
</app-modal>
