<div class="layout no-select animated fadeInRight" [ngClass]="{hide: !myService['menuCustomVisible']}">
    <div class="nav-wrap">
        <ul class="navigation">
            <li *ngFor="let itema of items; let a = index;">
                <a class="point-default" [routerLink]="null" (click)="changeCollapsed('pro'+a)">
                <span class="icon icon-{{itema.icon}}"></span>
                {{itema.name}}
                <span class="img" *ngIf="items[a]['children']['length']>0">
                    <img src="../../assets/svg/plus.svg" width="12" [ngClass]="{hide:!collapsed['pro'+a]}">
                    <img src="../../assets/svg/minus.svg" width="12" [ngClass]="{hide:collapsed['pro'+a]}">
                </span>
            </a>
                <ul class="nav-sub" [@slideInOut]="collapsed['pro'+a]" [slideInOutToggle]="collapsed['pro'+a]" [toggleEvent]="toggleEvent">
                    <li *ngFor="let itemb of items[a]['children']; let b = index;" class="pos-rlt">
                        <a class="point-default" [routerLink]="null" (click)="changeCollapsed('pro'+a+b)">
                            <span class="text">{{itemb.name}}</span>
                            <span class="img" *ngIf="items[a]['children'][b]['children']['length']>0">
                                <img src="../../assets/svg/plus-sub.svg" width="9" [ngClass]="{hide:!collapsed['pro'+a+b]}" >
                                <img src="../../assets/svg/minus-sub.svg" width="9" [ngClass]="{hide:collapsed['pro'+a+b]}">
                            </span>
                        </a>
                        <label class="i-checks i-checks-sm checks-custom" *ngIf="itemb.url!==null">
                            <input type="checkbox" [name]="'nameCustom'+a+b" [(ngModel)]="customModel['nameCustom'+a+b]" (ngModelChange)="checkboxChange(customModel['nameCustom'+a+b], itemb, 'nameCustom'+a+b)"><i></i>
                        </label>
                        <ul class="nav-sub-child" [@slideInOut]="collapsed['pro'+a+b]" [slideInOutToggle]="collapsed['pro'+a+b]" [toggleEvent]="toggleEvent">
                            <li *ngFor="let itemc of items[a]['children'][b]['children']; let c = index" class="pos-rlt">
                                <a class="point-default" [routerLink]="null">
                                    <span class="text">{{itemc.name}}</span>
                                </a>
                                <label class="i-checks i-checks-sm checks-custom">
                                    <input type="checkbox" [name]="'nameCustom'+a+b+c" [(ngModel)]="customModel['nameCustom'+a+b+c]" (ngModelChange)="checkboxChange(customModel['nameCustom'+a+b+c], itemc, 'nameCustom'+a+b+c)"><i></i>
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bottom-box text-right">
        <button class="btn btn-sm btn-warning" (click)="customSave();">保存编辑</button>
        <button class="btn btn-sm btn-default m-r-lg m-l-sm" (click)="close()">关闭</button>
    </div>
</div>
