<div class="border-bottom clearfix m-b" *ngIf="uploader.files.length>0 || srcCopy.length>0">
    <div class="warp-img" *ngFor="let item of srcCopy; let index = index">
        <img class="img" [src]="item.src" (click)="imgview(index)">
        <img class="close" src="../../../assets/images/pattern/close.png" (click)="delSrc(index)" *ngIf="edit">
    </div>
    <div class="warp-img" *ngFor="let item of uploader.files">
        <img class="img" [src]="item.src" (click)="imgview(index)">
        <img class="close" src="../../../assets/images/pattern/close.png" (click)="delSelect(item)">
        <div class="progress r">
            <div class="progress-bar progress-bar-striped bg-success" [ngClass]="{'progress-bar-animated':item.progress<100}" [ngStyle]="{width: item.progress +'%'}"></div>
        </div>
    </div>
</div>
<div [ngClass]="{'d-none':!edit}">
    <div class="d-inline-block" id="wrap-uploader">
        <button type="button" class="btn btn-outline-info btn-sm rounded-0" id="uploader">
            <i class="fa fa-plus"></i> 添加图片
        </button>
    </div>
</div>
<p class="text-muted text-sm m-t-xs mb-0" [ngClass]="{'d-none':!edit}">请添加3-5张图片，文件格式png\jpg！,分辨率建议：960*540，文件大小不超过300KB</p>
