<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">添加商户号</h4>
            <button type="button" class="close pull-right" (click)="hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <tabset #staticTabs>
                <tab heading="手动添加" (select)="addManual=true; addAuto=false">
                    <div class="table-responsive table-wrap m-t">
                        <table class="table nowrap table-striped">
                            <tbody>
                                <tr>
                                    <th>操作</th>
                                    <th>序号</th>
                                    <th>商户号</th>
                                    <th>入款账号（后六位）</th>
                                </tr>
                                <tr *ngFor="let item of data; let index = index;">
                                    <td><button class="btn btn-sm btn-default" (click)="delData(index)" *ngIf="data.length>1">删除<span class="glyphicon glyphicon-minus p-l-xs text-muted"></span></button></td>
                                    <td>{{index+1}}</td>
                                    <td><input class="form-control" type="text" maxlength="15" [(ngModel)]="item.merchantNo"
                                            [pattern]="regex.merchantNo" (keyup)="item.merchantNo=$event.target.value" (ngModelChange)="validate()"
                                            required></td>
                                    <td><input class="form-control" type="text" maxlength="6" [(ngModel)]="item.closingNo" [pattern]="regex.closingNo"
                                            (keyup)="item.closingNo=$event.target.value" (ngModelChange)="validate()" required></td>
                                </tr>
                                <tr>
                                    <td><button class="btn btn-sm btn-info" (click)="addData()" *ngIf="data.length<10">添加<span class="glyphicon glyphicon-plus p-l-xs"></span></button></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab heading="批量添加" [customClass]="systype==='300' ? '' : 'hide'" (select)="addAuto=true; addManual=false">
                    <!-- 机构账号 -->
                    <div class="m-t">
                        <form class="form-horizontal" #editForm="ngForm">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="form.name.add">用户主账号：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="form.name.add" name="form.name" [(ngModel)]="form.name" (keyup)="form.name=$event.target.value"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="form.cellPhone.add">手机号：</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="form.cellPhone.add" name="form.cellPhone" [(ngModel)]="form.cellPhone" (keyup)="form.cellPhone=$event.target.value"
                                        [pattern]="regex['mobile']" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <!-- 手动添加 -->
            <button class="btn btn-info btn-sm p-l p-r hide" [ngClass]="{'show-inline':addManual}" (click)="submit()" [disabled]="validateFlag">确认添加</button>
            <!-- 机构账号 -->
            <button class="btn btn-info btn-sm p-l p-r hide" [ngClass]="{'show-inline':addAuto && systype==='300'}" (click)="submitAutoOrg()"
                [disabled]="editForm.invalid">确认添加</button>
            <button class="btn btn-default btn-sm p-l p-r" (click)="hide()">关闭</button>
        </div>
    </div>
</div>
