<ion-header>
    <ion-navbar>
        <ion-title>Radio</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
     <form (submit)="doSubmit($event)" [formGroup]="langForm">
         <ion-list radio-group formControlName="langs">
            <ion-list-header>
                Language
            </ion-list-header>

            <ion-item>
                <ion-label>Go</ion-label>
                <ion-radio value="golang"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Rust</ion-label>
                <ion-radio value="rust"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Python</ion-label>
                <ion-radio value="python" disabled></ion-radio>
            </ion-item>
        </ion-list>
        <button type="submit" ion-button>submit</button>
    </form>
</ion-content>
<!-- 两种方式构建表单 -->
<!-- <ion-content padding>
        <form (submit)="doSubmit($event)">

        <ion-list radio-group [(ngModel)]="relationship" name="sadfasf">
            <ion-item>
                <ion-label>Friends</ion-label>
                <ion-radio value="friends" checked></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Family</ion-label>
                <ion-radio value="family"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Enemies</ion-label>
                <ion-radio value="enemies" [disabled]="isDisabled"></ion-radio>
            </ion-item>
        </ion-list>
        <button type="submit" ion-button>submit</button>
    </form>
</ion-content> -->
