<div class="container-fluid border b-color-base m-t-lg pt-3">
    <form class="search-form" #searchForm="ngForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                <label class="control-label">分类:</label>
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key1" [(ngModel)]="form.key1">
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key4']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group no-select">
                <button class="btn btn-info btn-sm p-l p-r m-r-sm rounded-0" (click)="search($event)" type="submit" [disabled]="!searchForm.valid || queryStatus">
                    <span class="float-left">查询</span>
                    <bttton-loading class="float-left" [queryStatus]="queryStatus"></bttton-loading>
                </button>
                <button class="btn btn-outline-secondary btn-sm rounded-0 p-l p-r" (click)="reset()">重置</button>
            </div>
        </div>
    </form>
</div>
<div class="m-t m-b">
    <button type="button" class="btn btn-outline-info btn-sm rounded-0 m-r-sm" (click)="addItem()">添加图片</button>
    <button type="button" class="btn btn-outline-info btn-sm rounded-0 m-r-sm" (click)="startItems()">添加分类</button>
</div>
<div class="m-t container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 img-wrap" *ngFor="let item of items; let index = index;">
            <div class="img">
                <img [src]="item.url">
            </div>
            <p class="p-t-sm text-center text-ellipsis">{{item.name}}</p>
            <div>
                <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 m-r-xs" (click)="copylick(item.url)">复制链接</button>
                <button type="button" class="btn btn-outline-secondary btn-sm rounded-0" (click)="rename(item)">重命名</button>
            </div>
        </div>
    </div>
</div>
<app-pagination #appPagination [paginationData]="paginationData" [queryStatus]="queryStatus"></app-pagination>
