<div class="container-fluid p-b-sm m-b-lg b-b b-b-dashed">
    <form class="search-form" #searchForm="ngForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                <label class="control-label" for="form.merchantNo">商户号:</label>
                <input type="text" class="form-control text-sm" id="form.merchantNo" name="form.merchantNo" [(ngModel)]="form.merchantNo"
                    #formMercId [pattern]="regex.merchantNo" (keyup)="form.merchantNo=$event.target.value" (focus)="listMerchant['inputfocus']($event)">
                <list-merchant #listMerchant [transmitinput]="formMercId" [transmitform]="form" transmitName="merchantNo"></list-merchant>
            </div>
            <!-- transmitTerm="terminalNo" [transmitlistterminal]="listTerminal" -->
            <!-- <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none" [ngClass]="{hide:sysmerchantdetail}">
                <label class="control-label" for="form.terminalNo">终端号:</label>
                <input type="text" class="form-control text-sm" style="background-color:white; cursor:default;" id="form.terminalNo" name="form.terminalNo"
                    [(ngModel)]="form.terminalNo" #formTerminalNo (keyup)="form.terminalNo=$event.target.value" (focus)="listTerminal['inputfocus']($event)"
                    readonly>
                <list-terminal #listTerminal [transmitinput]="formTerminalNo" [transmitform]="form" transmitName="terminalNo" [transmitlisttermlist]="listMerchant['termList']"></list-terminal>
            </div> -->
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none" *ngIf="!sysmerchantdetail">
                <label class="control-label" for="form.terminalNo">终端号:</label>
                <input type="text" class="form-control" id="form.terminalNo" name="form.terminalNo" [(ngModel)]="form.terminalNo" (keyup)="form.terminalNo=$event.target.value">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                <button class="btn btn-info btn-sm p-l p-r m-r-sm" (click)="search($event)" type="submit" [disabled]="!searchForm.valid">查询</button>
                <button class="btn btn-default btn-sm p-l p-r" (click)="reset()">重置</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid m-b m-t-n-sm">
    <div class="row">
        <div class="col-xs-6 no-padder">
            <div class="btn-group r">
                <button class="btn btn-info text-sm" (click)="addData()" *ngIf="sysaddmerchant">新增</button>
                <button class="btn btn-danger text-sm" (click)="deleteData()" *ngIf="sysdeletemerchant">删除</button>
                <button class="btn btn-warning text-sm" (click)="batchDelete()" style="margin-left:15px;" *ngIf="sysbatchDeletemerchant">一键删除</button>
            </div>
        </div>
        <div class="col-xs-6 no-padder text-right">
            <div class="btn-group tabel-control">
                <button class="btn btn-default" (click)="tableCustomStart()"><span class="icon-menuoption text-base"></span></button>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle><span class="icon-download text-md"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
                        <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/'+ (systype!=='222'?'merchantUser':'terminalMerchant') +'/exportExcel?'+tableSearch"
                                target="_blank">xlsx 格式</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/'+ (systype!=='222'?'merchantUser':'terminalMerchant') +'/exportTxt?'+tableSearch"
                                target="_blank">txt 格式</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive table-wrap">
    <table class="table nowrap table-striped table-hover">
        <tbody>
            <tr>
                <th>序号</th>
                <th *ngIf="sysdeletemerchant"><label class="no-select">全选<input class="hide" type="checkbox" name="checkboxControl" [(ngModel)]="checkboxControl" (ngModelChange)="checkboxAll(checkboxControl);"></label></th>
                <th *ngFor="let th of table.storage;">{{th.text}}</th>
                <th *ngIf="sysmerchantdetail">操作</th>
            </tr>
            <tr *ngFor="let item of items; let index = index;">
                <td>{{index+1}}</td>
                <td *ngIf="sysdeletemerchant"><label class="i-checks"><input type="checkbox" [name]="'checkbox'+index" [(ngModel)]="checkbox[index]" (ngModelChange)="checkboxChange()"><i></i></label></td>
                <td *ngFor="let td of table.storage;">{{item[td.key]}}</td>
                <td *ngIf="sysmerchantdetail"><button class="btn btn-default btn-sm" (click)="terminalListStart(item['merchantNo'])">查看终端列表</button></td>
            </tr>
        </tbody>
    </table>
</div>
<app-pagination [paginationData]="paginationData" #appPagination></app-pagination>
<!-- 新增 -->
<app-modal #addModal>
    <add-merchant #addMerchant class="modal-sample" [appModal]="addModal" (onListen)="addDataDone($event)"></add-merchant>
</app-modal>
<!-- 终端列表 -->
<app-modal #appModal>
    <terminal-list #terminalList class="modal-sample" [appModal]="appModal"></terminal-list>
</app-modal>
<!-- 表头定制 -->
<app-modal #appModalCustom>
    <table-custom class="modal-sample" #tableCustom [appModal]="appModalCustom" [transmit]="table" (onListen)="tableDone($event)"></table-custom>
</app-modal>
