<div class="modal fade" bsModal #alertModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center padder-v-lg text-md break-all">
                {{message}}
            </div>
            <div class="modal-body no-padder no-padder-v">
                <div class="text-center padder-v-sm" (click)="alertModal.hide()">确定</div>
            </div>
        </div>
    </div>
</div>