<div class="modal fade" bsModal #confirmModal="bs-modal" [config]="{backdrop: 'static', keyboard: false, show:true}" tabindex="-1"
    role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center padder-v-lg text-md break-all">
                {{message}}
            </div>
            <div class="modal-body no-padder no-padder-v">
                <div class="container-fluit">
                    <div class="row text-center">
                        <div class="col-xs-6 padder-v-sm text-light">确定</div><div class="col-xs-6 padder-v-sm b-l b-light">取消</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
