<form class="form-horizontal" #editForm="ngForm">
    <div class="form-group">
        <label class="control-label col-sm-2" for="form.oldPassword">原密码：</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" id="form.oldPassword" name="form.oldPassword" [(ngModel)]="form.oldPassword"
                (keyup)="form.oldPassword=$event.target.value" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="form.password">新密码：</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" id="form.password" name="form.password" [(ngModel)]="form.password" (keyup)="form.password=$event.target.value"
                #password="ngModel" [pattern]="regex['password']" required>
            <p class="error text-xs m-t-xs m-b-none" *ngIf="password.invalid && password.dirty">大写字母、小写字母、数字、特殊符号必须包含其中三种组合，最短8位，最长16位</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="form.confirmPwd">确认密码：</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" id="form.confirmPwd" name="form.confirmPwd" [(ngModel)]="form.confirmPwd" (keyup)="form.confirmPwd=$event.target.value"
                #confirmPwd="ngModel" required>
            <p class="error text-xs m-t-xs m-b-none" *ngIf="password['value']!==confirmPwd['value'] && confirmPwd['dirty'] ">两次输入的密码不一致</p>
        </div>
    </div>
    <div class="form-group" style="position: relative; margin-right: 0px;">
        <label class="control-label col-sm-2" for="form.cellPhone" for="cellPhoneCode">手机验证码：</label>
        <div class="col-sm-10" style="position:relative; padding-right:100px;">
            <input class="form-control" type="text" name="cellPhoneCode" id="cellPhoneCode" maxlength="6" [(ngModel)]="form.cellPhoneCode"
                (keyup)="form.cellPhoneCode=$event.target.value" [pattern]="regex['mobileCode']" required>
            <mobile-code #mobilecode [transmit]="transmit">
                <button mobile-code class="btn btn-info btn-sm text-center" style="position:absolute;top:0;right:0; line-height:23px; width:82px;"
                    [disabled]="!mobilecode['flag']" (click)="setCode(mobilecode['flag']); mobilecode['timeStart']();">{{mobilecode['text']}}</button>
            </mobile-code>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="form.confirmPwd"></label>
        <div class="col-sm-10 m-t">
            <div class="p-t b-t b-t-dashed"><button type="button" class="btn btn-info btn-md" [disabled]="!editForm.valid || password['value']!==confirmPwd['value']"
                    (click)="submit()">确认修改</button></div>
        </div>
    </div>
</form>
