<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 hidden-xs text-right"><span class="icon-right m-t-md block text-success" style="font-size:50px; color:#389d3a"></span></div>
        <div class="col-sm-10">
            <h3>修改密码成功！</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 hidden-xs"></div>
        <div class="col-sm-10 m-t">
            <div class="p-t b-t b-t-dashed"><a class="btn btn-default btn-sm" [routerLink]="['/account/change-password']">返回</a>
            </div>
        </div>
    </div>
