<go-back name="新增推送消息" url="app/message/push-manage" #goBack></go-back>
<wrap-form width="500px">
    <form class="px-3 p-t-lg" [ngClass]="{'d-none':saveFlag}">
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">所属分类:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm bg-white" style="height: 32px;" name="formInfo.key1" [(ngModel)]="formInfo.key1"
                    disabled>
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key1']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">发送范围:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm bg-white" style="height: 32px;" name="formInfo.key2" [(ngModel)]="formInfo.key2"
                    disabled>
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key2']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">性别:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm bg-white" style="height: 32px;" name="formInfo.key3" [(ngModel)]="formInfo.key3"
                    disabled>
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key3']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">年龄:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm bg-white" type="text" name="formInfo.key4" [(ngModel)]="formInfo.key4" disabled>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">地区:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm bg-white" type="text" name="formInfo.key5" [(ngModel)]="formInfo.key5" disabled>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">推送时间:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm bg-white" type="text" name="formInfo.key6" [(ngModel)]="formInfo.key6" disabled>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">状态:</label>
            <div class="col-xs-9 col-sm-8 px-0"></div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">推送标题:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <div class="col-xs-9 col-sm-8 px-0">
                    <input class="form-control rounded-0 text-sm bg-white" type="text" name="formInfo.key8" [(ngModel)]="formInfo.key8" disabled>
                </div>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">推送内容:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <textarea class="form-control rounded-0 text-sm  bg-white" type="text" name="formInfo.key9" rows="4" [(ngModel)]="formInfo.key9"
                    disabled></textarea>
            </div>
        </div>

        <div class="row mx-0 m-b-md">
            <div class="col-xs-9 col-sm-8 col-xs-push-3 col-sm-push-4 px-0 border-top p-t-md b-t-dashed">
                <button type="button" class="btn btn-info rounded-0 p-l-md p-r-md m-r" (click)="edit()" [disabled]="getInfoFlag">
                    <span class="float-left">编辑</span>
                    <bttton-loading class="float-left" [queryStatus]="getInfoFlag"></bttton-loading>
                </button>
            </div>
        </div>
    </form>
    <form class="px-3 p-t-lg" #editForm="ngForm" [ngClass]="{'d-none':!saveFlag}" novalidate>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>所属分类:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key1" [(ngModel)]="form.key1" required>
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key1']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>发送范围:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key2" [(ngModel)]="form.key2" required>
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key2']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>性别:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key3" [(ngModel)]="form.key3" required>
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key3']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" id="form.key4">年龄:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key4" id="form.key4" [pattern]="regex.number" [(ngModel)]="form.key4"
                    (keyup)="form.key4=$event.target.value">
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.districtName">
                <span class="text-danger">*</span>地区:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm bg-white" type="text" name="form.districtName" id="form.districtName" [ngClass]="{'border-danger': (theinputprovince.invalid || theinputcity.invalid || theinputcounty.invalid) && provinceCity['startFlag'] }"
                    [(ngModel)]="form.districtName" (keyup)="form.districtName=$event.target.value" (focus)="provinceCity['inputfocus']($event)"
                    #formDistrictName readonly>
                <div class="position-relative" style="z-index: 10;">
                    <province-city [transmitinput]="formDistrictName" [transmitform]="form" #provinceCity></province-city>
                </div>
                <div class="d-none">
                    <input type="text" name="form.province" [(ngModel)]="form.province.code" #theinputprovince="ngModel" required>
                    <input type="text" name="form.city" [(ngModel)]="form.city.code" #theinputcity="ngModel" required>
                    <input type="text" name="form.county" [(ngModel)]="form.county.code" #theinputcounty="ngModel" required>
                </div>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" id="form.key5">
                <span class="text-danger">*</span>推送时间:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm bg-white" #drp="bsDatepicker" bsDatepicker id="form.key5" name="form.key5" [(ngModel)]="form.key5"
                    [bsConfig]="{locale:'zh-cn', containerClass:'theme-dark-blue', dateInputFormat:'MM/DD/Y'}" readonly required>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" id="form.key6">发送量:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key6" id="form.key6" [pattern]="regex.number" [(ngModel)]="form.key6"
                    (keyup)="form.key6=$event.target.value">
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>状态:</label>
            <div class="col-xs-9 col-sm-8 px-0 m-t-xs">
                <label class="i-checks i-checks-sm">
                    <input type="radio" name="form.key7" value="1" [(ngModel)]="form.key7" required>
                    <i></i>启用
                </label>
                <label class="i-checks i-checks-sm">
                    <input type="radio" name="form.key7" value="0" [(ngModel)]="form.key7" required>
                    <i></i>停用
                </label>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key8">
                <span class="text-danger">*</span>推送标题:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key8" id="form.key8" [(ngModel)]="form.key8" (keyup)="form.key8=$event.target.value"
                    required>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key9">
                <span class="text-danger">*</span>推送内容:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <textarea class="form-control rounded-0 text-sm" type="text" name="form.key9" rows="4" id="form.key9" [(ngModel)]="form.key9"
                    (keyup)="form.key9=$event.target.value" required></textarea>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <div class="col-xs-9 col-sm-8 col-xs-push-3 col-sm-push-4 px-0 border-top p-t-md b-t-dashed">
                <button type="button" class="btn btn-info rounded-0 p-l-md p-r-md m-r" (click)="submit()" [disabled]="editForm.invalid || queryStatus">
                    <span class="float-left">保存</span>
                    <bttton-loading class="float-left" [queryStatus]="queryStatus"></bttton-loading>
                </button>
                <button type="button" class="btn btn-outline-secondary rounded-0 p-l-md p-r-md" (click)="saveFlag = !saveFlag">取消</button>
            </div>
        </div>
    </form>
</wrap-form>
