<div class="container-fluid p-b-sm m-b-lg b-b b-b-dashed">
    <form class="search-form" #searchForm="ngForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                <label class="control-label" for="form.name">子账号用户名:</label>
                <input type="text" class="form-control" id="form.name" name="form.name" [(ngModel)]="form.name" (keyup)="form.name=$event.target.value">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                <label class="control-label" for="form.contactName">联系人:</label>
                <input type="text" class="form-control" id="form.contactName" name="form.contactName" [(ngModel)]="form.contactName" (keyup)="form.contactName=$event.target.value">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                <label class="control-label" for="form.cellPhone">手机号:</label>
                <input type="text" class="form-control" id="form.cellPhone" name="form.cellPhone" [(ngModel)]="form.cellPhone" (keyup)="form.cellPhone=$event.target.value"
                    [pattern]="regex.mobile">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                <button class="btn btn-info btn-sm p-l p-r m-r-sm" (click)="search($event)" type="submit" [disabled]="!searchForm.valid">查询</button>
                <button class="btn btn-default btn-sm p-l p-r" (click)="reset()">重置</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid m-b m-t-n-sm">
    <div class="row">
        <div class="col-xs-6 no-padder">
            <div class="btn-group r">
                <button class="btn btn-info text-sm" (click)="addData()">新增</button>
                <button class="btn btn-warning text-sm" (click)="activateData()">激活</button>
                <button class="btn btn-danger text-sm" (click)="deleteData()">注销</button>
            </div>
        </div>
        <div class="col-xs-6 no-padder text-right">
            <div class="btn-group tabel-control">
                <button class="btn btn-default" (click)="tableCustomStart()"><span class="icon-menuoption text-base"></span></button>
                <!-- <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle><span class="icon-download text-md"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
                        <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/merchantUser/exportExcel?'+tableSearch" target="_blank">xlsx 格式</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/merchantUser/exportTxt?'+tableSearch" target="_blank">txt 格式</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="table-responsive table-wrap">
    <table class="table nowrap table-striped table-hover">
        <tbody>
            <tr>
                <th>序号</th>
                <th><label class="no-select">全选<input class="hide" type="checkbox" name="checkboxControl" [(ngModel)]="checkboxControl" (ngModelChange)="checkboxAll(checkboxControl);"></label></th>
                <th *ngFor="let th of table.storage;">{{th.text}}</th>
                <th width="240">操作</th>
            </tr>
            <tr *ngFor="let item of items; let index = index;">
                <td>{{index+1}}</td>
                <td><label class="i-checks"><input type="checkbox" [name]="'checkbox'+index" [(ngModel)]="checkbox[index]" (ngModelChange)="checkboxChange()"><i></i></label></td>
                <td *ngFor="let td of table.storage;">{{item[td.key]}}</td>
                <td><button class="btn btn-default btn-sm" (click)="permissionAssignStart(item)">商终号权限配置</button>
                    <button class="btn btn-default btn-sm m-l-sm" (click)="modifyMobileStart(item)">修改手机号</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-pagination [paginationData]="paginationData" #appPagination></app-pagination>
<!-- 新增 -->
<app-modal #addModal>
    <add-submerchant #addSubmerchant class="modal-sample" [appModal]="addModal" (onListen)="search($event)"></add-submerchant>
</app-modal>
<!-- 权限配置 -->
<app-modal #appModal>
    <permission-assign #permissionAssign class="modal-sample" [appModal]="appModal"></permission-assign>
</app-modal>
<!-- 修改手机号 -->
<app-modal #modifyMobileModal>
    <modify-mobile #modifyMobile class="modal-sample" [appModal]="modifyMobileModal" (onListen)="search($event)"></modify-mobile>
</app-modal>

<!-- 表头定制 -->
<app-modal #appModalCustom>
    <table-custom class="modal-sample" #tableCustom [appModal]="appModalCustom" [transmit]="table" (onListen)="tableDone($event)"></table-custom>
</app-modal>
