<div class="modal-dialog modal-lg">
    <div class="modal-content layout">
        <div class="modal-header">
            <h4 class="modal-title pull-left">选择在表格中显示的字段</h4>
            <button type="button" class="close pull-right" (click)="hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-3" *ngFor="let item of transmit['th'];">
                    <div class="data" (click)="selectToggle(item.require, item)">{{item['text']}}<span class="check icon-checkRight" [ngClass]="{select:item['select'], require:item['require']}"></span></div>
                </div>
            </div>
            <p class="title">表格预览</p>
            <div class="table-responsive table-wrap">
                <table class="table nowrap table-striped table-hover">
                    <tbody>
                        <tr>
                            <th *ngFor="let item of storage;">{{item.text}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info btn-sm p-r p-l m-r-xs" (click)="listen()">确定</button>
            <button class="btn btn-default btn-sm p-r p-l" (click)="hide()">关闭</button>
        </div>
    </div>
</div>
