<div class="container-fluid p-b-sm m-b-lg b-b b-b-dashed">
    <form class="search-form" #searchForm="ngForm">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                <label class="control-label" for="form.noticeName">标题:</label>
                <input type="text" class="form-control" id="form.noticeName" name="form.noticeName" [(ngModel)]="form.noticeName" (keyup)="form.noticeName=$event.target.value">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                <button class="btn btn-info btn-sm p-l p-r m-r-sm" (click)="search($event)" type="submit" [disabled]="!searchForm.valid">查询</button>
                <button class="btn btn-default btn-sm p-l p-r" (click)="reset()">重置</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid m-b m-t-n-sm" *ngIf="systype==='100'">
    <div class="row">
        <div class="col-xs-6 no-padder">
            <div class="btn-group r">
                <button class="btn btn-info text-sm" (click)="noticeReleaseStart()">新增公告</button>
                <button class="btn btn-danger text-sm" (click)="deleteData()">删除</button>
            </div>
        </div>
        <div class="col-xs-6 no-padder text-right">
        </div>
    </div>
</div>
<div class="table-responsive table-wrap">
    <table class="table nowrap table-striped table-hover">
        <tbody>
            <tr>
                <th>排序</th>
                <th *ngIf="systype==='100'"><label class="no-select">全选<input class="hide" type="checkbox" name="checkboxControl" [(ngModel)]="checkboxControl" (ngModelChange)="checkboxAll(checkboxControl);"></label></th>
                <th *ngFor="let td of table.storage;">{{td.text}}</th>
                <th>操作</th>
            </tr>
            <tr *ngFor="let item of items; let index = index;">
                <td>{{index+1}}</td>
                <td *ngIf="systype==='100'"><label class="i-checks"><input type="checkbox" [name]="'checkbox'+index" [(ngModel)]="checkbox[index]" (ngModelChange)="checkboxChange()"><i></i></label></td>
                <td *ngFor="let td of table.storage;">{{item[td.key]}}</td>
                <td>
                    <button class="btn btn-default btn-sm" (click)="noticeContentStart(item['noticeId'])">查看</button>
                    <button class="btn btn-default btn-sm m-l-sm" *ngIf="systype==='100'" (click)="editNoticeStart(item['noticeId'])">编辑</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-pagination [paginationData]="paginationData" #appPagination></app-pagination>

<!-- 公告详情 -->
<app-modal #appModal>
    <notice-content #noticeContent class="modal-sample" [appModal]="appModal"></notice-content>
</app-modal>

<!-- 发布公告 -->
<app-modal #noticeReleaseModal>
    <notice-release #noticeRelease class="modal-sample" [appModal]="noticeReleaseModal" (onListen)="search($event)"></notice-release>
</app-modal>
