<div class="m-t m-b">
    <button type="button" class="btn btn-outline-info btn-sm rounded-0" (click)="addModalStart()">导入模板</button>
</div>
<div class="m-t">
    <table class="table table-hover mb-0">
        <tbody>
            <tr>
                <th>序号</th>
                <th *ngFor="let th of table.th;">{{th.text}}</th>
                <th>操作</th>
            </tr>
            <tr *ngFor="let item of items; let index = index;">
                <td class="py-2 align-middle" width="6%">{{index+1}}</td>
                <td class="py-2 align-middle break-all" *ngFor="let td of table.th;" [width]="td.width" domEllipsis [tooltip]="item[td.key]"
                    [isDisabled]="tip['isDisabled' + index + td.key]" container="body" [tip]='tip' [proName]="'isDisabled' + index + td.key">{{item[td.key]}}</td>
                <td class="py-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 p-l-sm p-r-sm m-r-sm" (click)="blockup(item)">停用</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 p-l-sm p-r-sm" (click)="delItem(item)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-pagination #appPagination [paginationData]="paginationData" [queryStatus]="queryStatus"></app-pagination>
<add-modal #addModal [id]="id" (onListen)="search()"></add-modal>
