<go-back name="新增广告" url="app/advert/manage" #goBack></go-back>
<wrap-form width="500px">
    <form class="px-3 p-t-lg" #editForm="ngForm" novalidate>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>所属分类:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key1" [(ngModel)]="form.key1" required>
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key1']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>显示排序:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <select class="form-control rounded-0 text-sm" style="height: 32px;" name="form.key2" [(ngModel)]="form.key2" required>
                    <option value=''>---请选择---</option>
                    <option *ngFor="let option of selectList['key2']" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key3">
                <span class="text-danger">*</span>链接地址:</label>
            <div class="col-xs-9 col-sm-8 px-0">
                <input class="form-control rounded-0 text-sm" type="text" name="form.key3" id="form.key3" [pattern]="regex.url" [(ngModel)]="form.key3"
                    (keyup)="form.key3=$event.target.value" required>
            </div>
        </div>

        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right">
                <span class="text-danger">*</span>状态:</label>
            <div class="col-xs-9 col-sm-8 px-0 m-t-xs">
                <label class="i-checks i-checks-sm">
                    <input type="radio" name="form.key7" value="1" [(ngModel)]="form.key7" required>
                    <i></i>启用
                </label>
                <label class="i-checks i-checks-sm">
                    <input type="radio" name="form.key7" value="0" [(ngModel)]="form.key7" required>
                    <i></i>停用
                </label>
            </div>
        </div>
        <div class="row mx-0 m-b-md">
            <label class="col-xs-3 col-sm-4 pl-0 font-bold p-t-xs text-right" for="form.key9">
                <span class="text-danger">*</span>图片预览:</label>
            <div class="col-xs-9 col-sm-8 px-0"></div>
        </div>
        <div class="row mx-0 m-b-md">
            <div class="col-xs-9 col-sm-8 col-xs-push-3 col-sm-push-4 px-0 border-top p-t-md b-t-dashed">
                <button type="button" class="btn btn-info rounded-0 p-l-md p-r-md m-r" (click)="submit()" [disabled]="editForm.invalid || queryStatus">
                    <span class="float-left">新增</span>
                    <bttton-loading class="float-left" [queryStatus]="queryStatus"></bttton-loading>
                </button>
                <button type="button" class="btn btn-outline-secondary rounded-0 p-l-md p-r-md" (click)="goBack.back();">取消</button>
            </div>
        </div>
    </form>
</wrap-form>
