<div class="lay-out" [ngClass]="{hide: !visible}">
    <ul class="b r">
        <li>
            <span class="code font-bold">商户号</span><span class="font-bold" style="margin-left:-15px;">商户名称</span>
        </li>
        <li *ngFor="let item of listMerchantCopy; let index = index;">
            <label class="i-checks i-checks-sm block">
                <input type="radio" class="hide" name="listMerchantValue" [(ngModel)]="listMerchantValue" [value]="item.merchantNo" (change)="inputChange($event)"><i></i>
                <span class="code">{{item.merchantNo}}</span><span>{{item.merchantName}}</span>
            </label>
        </li>
    </ul>
</div>
