<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">终端列表</h4>
            <button type="button" class="close pull-right" (click)="hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid p-b-sm m-b-lg b-b b-b-dashed">
                <form class="search-form" #searchForm="ngForm">
                    <div class="row">
                        <div class="col-md-6 col-md-4 form-group m-l-none">
                            <label class="control-label" for="form.terminalNo">终端号:</label>
                            <input type="text" class="form-control" id="form.terminalNo" name="form.terminalNo" [(ngModel)]="form.terminalNo" (keyup)="form.terminalNo=$event.target.value">
                        </div>
                        <!-- <div class="col-sm-6 col-md-4 col-lg-3 form-group m-l-none">
                            <label class="control-label" for="form.terminalNo">终端号:</label>
                            <input type="text" class="form-control text-sm" style="background-color:white; cursor:default;" id="form.terminalNo" name="form.terminalNo"
                                [(ngModel)]="form.terminalNo" #formTermId (keyup)="form.terminalNo=$event.target.value" (focus)="listTerminal['inputfocus']($event)"
                                readonly>
                            <list-terminal #listTerminal [transmitinput]="formTermId" [transmitform]="form" transmitName="terminalNo" [transmitlisttermlist]="termList"></list-terminal>
                        </div> -->

                        <div class="col-md-6 col-md-4 form-group m-l-none">
                            <button class="btn btn-info btn-sm p-l p-r m-r-sm" (click)="search($event)" type="submit" [disabled]="!searchForm.valid">查询</button>
                            <button class="btn btn-default btn-sm p-l p-r" (click)="reset()">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid m-b m-t-n-sm">
                <div class="row">
                    <div class="col-xs-6 no-padder">
                    </div>
                    <div class="col-xs-6 no-padder text-right">
                        <div class="btn-group tabel-control">
                            <button class="btn btn-default" (click)="tableCustomStart()"><span class="icon-menuoption text-base"></span></button>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle><span class="icon-download text-md"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
                                    <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/terminalMerchant/exportExcelListTerminal?'+tableSearch"
                                            target="_blank">xlsx 格式</a></li>
                                    <li class="divider dropdown-divider"></li>
                                    <li role="menuitem"><a class="dropdown-item text-center" [href]="'api/v1/terminalMerchant/exportTxtListTerminal?'+tableSearch"
                                            target="_blank">txt 格式</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-wrap">
                <table class="table nowrap table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>序号</th>
                            <th *ngFor="let th of table.storage;">{{th.text}}</th>
                        </tr>
                        <tr *ngFor="let item of items; let index = index;">
                            <td>{{index+1}}</td>
                            <td *ngFor="let td of table.storage;">{{item[td.key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-pagination [paginationData]="paginationData" #appPagination></app-pagination>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-sm p-l p-r" (click)="hide()">关闭</button>
        </div>
    </div>
</div>
<!-- 表头定制 -->
<app-modal #appModalCustom>
    <table-custom class="modal-sample" #tableCustom [appModal]="appModalCustom" [transmit]="table" (onListen)="tableDone($event)"></table-custom>
</app-modal>
