<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">子账号列表</h4>
            <button type="button" class="close pull-right" (click)="hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid p-b-sm m-b-lg b-b b-b-dashed">
                <form class="search-form" #searchForm="ngForm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 form-group m-l-none">
                            <label class="control-label" for="form.name">子账号用户名:</label>
                            <input type="text" class="form-control" id="form.name" name="form.name" [(ngModel)]="form.name" (keyup)="form.name=$event.target.value">
                        </div>
                        <div class="col-sm-6 col-md-4 form-group m-l-none">
                            <label class="control-label" for="form.contactName">联系人:</label>
                            <input type="text" class="form-control" id="form.contactName" name="form.contactName" [(ngModel)]="form.contactName" (keyup)="form.contactName=$event.target.value">
                        </div>
                        <div class="col-sm-6 col-md-4 form-group m-l-none">
                            <label class="control-label" for="form.cellPhone">手机号:</label>
                            <input type="text" class="form-control" id="form.cellPhone" name="form.cellPhone" [(ngModel)]="form.cellPhone" (keyup)="form.cellPhone=$event.target.value"
                                [pattern]="regex.mobile">
                        </div>
                        <div class="col-md-6 col-md-4 form-group m-l-none">
                            <button class="btn btn-info btn-sm p-l p-r m-r-sm" (click)="search($event)" type="submit" [disabled]="!searchForm.valid">查询</button>
                            <button class="btn btn-default btn-sm p-l p-r" (click)="reset()">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive table-wrap">
                <table class="table nowrap table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>序号</th>
                            <th *ngFor="let th of table.storage;">{{th.text}}</th>
                        </tr>
                        <tr *ngFor="let item of items; let index = index;">
                            <td>{{index+1}}</td>
                            <td *ngFor="let td of table.storage;">{{item[td.key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-pagination [paginationData]="paginationData" #appPagination></app-pagination>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-sm p-l p-r" (click)="hide()">关闭</button>
        </div>
    </div>
</div>
