<div class="text-right no-select" [ngClass]="{'d-none':!data.totalItems}">
    <pagination class="d-inline-block align-middle" [disabled]="queryStatus" [boundaryLinks]="data.boundaryLinks" [totalItems]="data.totalItems"
        [(ngModel)]="data.currentPage" (pageChanged)="data.pageChanged($event)" [itemsPerPage]="data.itemsPerPage" [firstText]="data.firstText"
        [lastText]="data.lastText" [maxSize]="data.maxSize" [previousText]="data.previousText" [nextText]="data.nextText" [rotate]="data.rotate">
    </pagination>
    <form class="d-inline-block">
        <input type="text" class="form-control page" name="form.page" [(ngModel)]="form.page" (keyup)="form.page=$event.target.value"
            #formPage="ngModel" pattern="^[0-9]*$">
        <button class="btn btn-light btn-sm" [disabled]="formPage.invalid || queryStatus" (click)="setPage(form.page)" type="submit">Go</button>
    </form>
    <!-- <p class="text-xs error m-b-none m-t-n" [ngClass]="{'d-none':data.totalItems<10000}">最多只能查询一万条数据，500页</p> -->
</div>
<p class="text-center text-base text-muted m-t-md m-b-md" [ngClass]="{'d-none':data.totalItems && data.totalItems>0}">
    暂无数据
</p>
